<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">MyBlog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      
      <% if(!locals.user) { %>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/superadmin">SuperAdminHome</a>
        </li>
        <% if (locals.superadmin) { %>
          <li class="nav-item">
              <a class="nav-link text-white" href="/superadmin/alluser">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/superadmin/allblog">Blogs</a>
          </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link text-white" href="/superadmin/signup">Create Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/superadmin/signin">Signin</a>
            </li>
            <% } %>
          </ul>
          <% } %>
    </div>
  </div>
</nav>

<% if (locals.error) { %>
  <div class="container mt-2 w-50 rounded">
    <div class="alert alert-danger alert-dismissible fade show" id="Alert" role="alert">
      <%= locals.error %>
    </div>
  </div>
  <% } %>
  
<% if (locals.success) { %>
    <div class="container mt-2 w-50 rounded">
      <div class="alert alert-success alert-dismissible fade show" id="Alert" role="alert">
        <%= locals.success %>
      </div>
  </div>
<% } %>

<% if (locals.msg) { %>
    <div class="container mt-2 w-50 rounded">
      <div class="alert alert-danger alert-dismissible fade show"  id="Alert" role="alert">
        <%= locals.msg %>
      </div>
    </div>
<% } %>

<% if (locals.waitingMsg) { %>
    <div class="container mt-2 w-50 rounded">
      <div class="alert alert-warning alert-dismissible fade show" id="Alert" role="alert">
        <%= locals.waitingMsg %> 
      </div>
    </div>
<% } %>

<script>
  document.addEventListener('DOMContentLoaded', () =>{
    setTimeout(() => {
      const alertBox = document.getElementById('Alert');
      if (alertBox) {
        alertBox.classList.remove('show');
        alertBox.classList.add('fade');
        setTimeout(() => alertBox.remove(), 500); 
      }
    }, 1800);
  })
</script>